:root {
  /* --main: #833312; */

  --main: #d9912b;
  --main-tint-5: #ecc895;
}

html {
  background-color: var(--main-tint-5);
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: red; */
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(55, 55, 55);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.section {
  min-height: 100vh;
}

.container {
  max-width: 128rem;

  margin-left: auto;
  margin-right: auto;
}